*{
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.videos{
  display: flex;
}

.videoplay{
  width: 70vw;
}

.videolist{
  width: 30vw;
  margin-right: 2px;
}

.videoplay iframe {
  margin-left: 3rem;
  margin-top: 3rem;
}

.videoplay h3 {
  margin-left: 3rem;
  margin-right: 5rem;
  padding-right: 2rem;
}

